name: Deploy Chain to Production

on:
  push:
    branches:
      - main  # Trigger deployment on push to the main branch



concurrency:
  group: 'deploy'
  cancel-in-progress: true


permissions:
  id-token: write
  contents: write
  deployments: write
  
jobs:
  get-sha:
    runs-on: ubuntu-latest
    steps:
    - name: Bump Version Using GitHub Script
      id: bump
      uses: actions/github-script@v7
      with:
        script: |
          const { data: tags } = await github.repos.listTags({
            owner: context.repo.owner,
            repo: context.repo.repo,
            per_page: 1
          });
          
          const latestTag = tags.length > 0 ? tags[0].name : '0.0.0';
          const [major, minor, patch] = latestTag.split('.').map(Number);
          const newVersion = `${major}.${minor}.${patch + 1}`;

          await github.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: `refs/tags/${newVersion}`,
            sha: context.sha
          });

          core.setOutput('new_version', newVersion);
