name: Test

on:
  push:

permissions:
  id-token: write
  contents: write
  deployments: write
  
jobs:
  get-sha:
    runs-on: ubuntu-latest
    steps:
    - name: Bump Version Using GitHub Script
      id: bump
      uses: actions/github-script@v7
      with:
        script: |
          function incrementVersion(version) {
              return version.replace(/(v\d+\.\d+\.)\d+/, (match, prefix) => {
                  let currentVersion = parseInt(match.replace(prefix, ''));
                  return `${prefix}${currentVersion + 1}`;
              });
          }
          const { data: tags } = await github.rest.repos.listTags({
            owner: context.repo.owner,
            repo: context.repo.repo,
            per_page: 100
          });
          const prefix = "linea"
          const filteredTags = tags.filter(el=> el.name.startsWith(prefix))
          const latestTag = filteredTags.length > 0 ? filteredTags[0].name : '0.0.0';
          const newVersion = incrementVersion(latestTag)
          console.log(newVersion, tags, context)
          
          await github.rest.repos.createRelease({
            owner: context.repo.owner,
            repo: context.repo.repo,
            tag_name: latestTag,
            target_commitish: context.sha,
            name: latestTag,
            body: "",
            draft: true,
            prerelease: true
          });
          core.setOutput('new_version', newVersion);
