name: Test

on:
  push:

permissions:
  id-token: write
  contents: write
  deployments: write
  
jobs:
  get-sha:
    runs-on: ubuntu-latest
    steps:
    - name: Bump Version Using GitHub Script
      id: bump
      uses: actions/github-script@v7
      with:
        script: |
          const { data: tags } = await github.rest.repos.listTags({
            owner: context.repo.owner,
            repo: context.repo.repo,
            per_page: 1
          });
          
          const latestTag = tags.length > 0 ? tags[0].name : '0.0.0';
          const [major, minor, patch, rest] = latestTag.split('.')
          const newVersion = `${major}.${minor}.${Number(patch) + 1}`;
          console.log(newVersion, tags, context)
          await github.rest.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: `refs/tags/${newVersion}`,
            sha: context.sha
          });
          await github.rest.repos.createRelease({
            owner: context.repo.owner,
            repo: context.repo.repo,
            tag_name: latestTag,
            title: latestTag,
            body: "",
            draft: true,
            prerelease: true
          });
          core.setOutput('new_version', newVersion);
